<footer class="footer">
  <small>
    <b>
      &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> School of English, Faculty of Arts, The University of Hong Kong. All rights reserved.
    </b>
    <br>
    <br>
    <p style="line-height: normal">
      Theatre and the World<br>
      School of English, Faculty of Arts,<br>
      Run Run Shaw Tower, Centennial Campus,<br>
      The University of Hong Kong,<br>
      Pokfulam, Hong Kong
    </p>
  </small>
</footer>
